[project]
authors = [
  { name = "Your Name", email = "your.email@example.com" },
]
dependencies = []
description = "Add your description here"
name = "python-nix-template"
readme = "README.md"
requires-python = ">=3.11,<3.13"
version = "0.2.0"

[project.scripts]
python-nix-template = "python_nix_template:main"

[build-system]
build-backend = "hatchling.build"
requires      = ["hatchling"]

[tool.hatch.build.targets.wheel]
packages = ["src/python_nix_template"]

[dependency-groups]
dev = [
  { include-group = "docs" },
  { include-group = "interactive" },
  { include-group = "lint" },
  { include-group = "test" },
  { include-group = "types" },
]
docs = [
  "jupyter-cache>=1.0.1",
  "jupyter>=1.1.1",
  "quartodoc>=0.9.1",
]
interactive = [
  "ipython>=8.32.0",
]
lint = [
  "ruff>=0.9.4",
]
test = [
  "hypothesis>=6.125.1",
  "pytest-cov>=6.0.0",
  "pytest>=8.3.4",
  "xdoctest>=1.2.0",
]
types = [
  "pyright>=1.1.395",
]

[tool.uv]
default-groups = ["lint", "test", "types"]

[tool.pixi.project]
channels  = ["conda-forge"]
platforms = ["linux-64", "osx-arm64"]
preview   = ["pixi-build"]

[tool.pixi.dependencies]
python = ">=3.11,<3.13"

[tool.pixi.pypi-dependencies]
python-nix-template = { path = ".", editable = true }

[tool.pixi.environments]
default     = { solve-group = "default" }
dev         = { features = ["dev"], solve-group = "default" }
docs        = { features = ["docs"], solve-group = "default" }
interactive = { features = ["interactive"], solve-group = "default" }
lint        = { features = ["lint"], solve-group = "default" }
test        = { features = ["test"], solve-group = "default" }
types       = { features = ["types"], solve-group = "default" }

[tool.pixi.feature.test.tasks]
test = "pytest"

[tool.pixi.feature.lint.tasks]
lint       = "ruff check --fix src/"
lint-check = "ruff check src/"

[tool.pixi.feature.types.tasks]
types = "pyright src/"

[tool.pixi.package]
name    = "python-nix-template"
version = "0.2.0"

[tool.pixi.package.run-dependencies]

[tool.pixi.package.build.backend]
channels = [
  "https://prefix.dev/conda-forge",
  "https://prefix.dev/pixi-build-backends",
]
name = "pixi-build-python"
version = "0.1.*"

[tool.pixi.package.host-dependencies]
hatchling = "*"

[tool.pytest.ini_options]
addopts = """
-rA
--xdoctest
--disable-warnings
--cov=src/python_nix_template/
--cov-report=term-missing
--cov-report=xml
--durations=0
"""
log_level = "INFO"
testpaths = [
  "src/python_nix_template/tests",
]

[tool.coverage.run]
omit = [
  "src/python_nix_template/tests/*",
]
