[workspace]
resolver = "2"
members = ["crates/pnt-cli-core", "crates/pnt-cli-py"]

[workspace.package]
version = "0.1.0"
edition = "2024"
license = "Apache-2.0"

[workspace.lints.rust]
unsafe_code = "forbid"
rust_2018_idioms = { level = "warn", priority = -1 }
unused_qualifications = "warn"

[workspace.lints.clippy]
panic = "warn"
unwrap_used = "warn"
