name: Build Nix Images

on:
  workflow_dispatch:
    inputs:
      debug_enabled:
        description: "Run with tmate.io debugging enabled"
        required: true
        type: boolean
        default: false
      version:
        description: "Version to tag images with"
        required: true
        type: string
      images:
        description: "JSON array of images to build"
        required: true
        type: string
      branch:
        description: "Branch to checkout"
        required: true
        type: string

  workflow_call:
    inputs:
      debug_enabled:
        description: "Run with tmate.io debugging enabled"
        required: true
        type: string
      version:
        description: "Version to tag images with"
        required: true
        type: string
      images:
        description: "JSON array of images to build"
        required: true
        type: string
      branch:
        description: "Branch to checkout"
        required: true
        type: string

jobs:
  build-images:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        image: ${{ fromJson(inputs.images) }}
      fail-fast: false

    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # ratchet:actions/checkout@v4
        with:
          ref: ${{ inputs.branch }}
          fetch-depth: 0

      - name: Install dependencies
        shell: bash
        run: |
          sudo apt-get update
          sudo apt-get install -yq zstd
          sudo apt-get clean

      - name: Setup Nix
        uses: ./.github/actions/setup-nix
        with:
          system: x86_64-linux
          extra-conf: |
            system-features = nixos-test benchmark big-parallel kvm
            extra-platforms = aarch64-linux
          enable-cachix: true
          cachix-name: ${{ vars.CACHIX_CACHE_NAME }}
          cachix-auth-token: ${{ secrets.CACHIX_AUTH_TOKEN }}
          extra-pull-names: nix-community,pyproject-nix,sciexp,srid

      - name: Setup tmate debug session
        uses: mxschmitt/action-tmate@e5c7151931ca95bad1c6f4190c730ecf8c7dde48 # ratchet:mxschmitt/action-tmate@v3
        if: ${{ inputs.debug_enabled == 'true' }}

      - name: Build ${{ matrix.image }} image
        uses: ./.github/actions/build-nix-image
        with:
          triggerEventName: "workflow_dispatch"
          imageName: "${{ matrix.image }}"
          imageFQN: "ghcr.io/sciexp/${{ matrix.image }}"
          nixCommand: "nix run .#${{ matrix.image }}Manifest --impure --accept-flake-config --print-build-logs --show-trace"
          releaseVersion: "${{ inputs.version }}"
