name: Python Test

on:
  workflow_dispatch:
    inputs:
      python-version:
        description: "Python version to use"
        required: true
        type: string
        default: "3.12"
      package-name:
        description: "Name of the package to test"
        required: false
        type: string
        default: ""
      debug_enabled:
        description: "Run with tmate.io debugging enabled"
        required: false
        type: boolean
        default: false
      checkout_ref:
        description: "Git ref to checkout"
        required: false
        type: string
        default: ""

  workflow_call:
    inputs:
      python-version:
        description: "Python version to use"
        required: true
        type: string
      package-name:
        description: "Name of the package to test"
        required: false
        type: string
        default: ""
      debug_enabled:
        description: "Run with tmate.io debugging enabled"
        required: false
        type: string
        default: "false"
      checkout_ref:
        description: "Git ref to checkout"
        required: false
        type: string
        default: ""

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # ratchet:actions/checkout@v4
        with:
          ref: ${{ inputs.checkout_ref != '' && inputs.checkout_ref || github.ref }}

      - name: Setup tmate debug session
        uses: mxschmitt/action-tmate@e5c7151931ca95bad1c6f4190c730ecf8c7dde48 # ratchet:mxschmitt/action-tmate@v3
        if: ${{ inputs.debug_enabled == 'true' }}

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          python-version: ${{ inputs.python-version }}
          enable-cache: true
          cache-dependency-glob: "packages/*/uv.lock"
          version: "0.6.8"

      - name: Install dependencies
        working-directory: packages/${{ inputs.package-name }}
        run: |
          uv sync --all-extras --dev

      - name: Lint
        working-directory: packages/${{ inputs.package-name }}
        run: |
          uv run ruff check .

      - name: Test
        working-directory: packages/${{ inputs.package-name }}
        run: |
          echo "Testing package: ${{ inputs.package-name }}"
          uv run pytest

      - name: Upload coverage
        uses: codecov/codecov-action@0565863a31f2c772f9f0395002a31e3f06189574 # ratchet:codecov/codecov-action@v5.4.0
        continue-on-error: true
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: false
          verbose: true

      - name: Minimize uv cache
        run: uv cache prune --ci
        if: always()
