name: "Template"

on:
  workflow_dispatch:
    inputs:
      debug_enabled:
        description: "Run the workflow with tmate.io debugging enabled"
        required: true
        type: boolean
        default: false
  pull_request:
    types: [opened, labeled, reopened, synchronize]
    paths-ignore:
      - "**/*.md"
      - "*"
      - "!flake.nix"
      - "!flake.lock"
      - "!pyproject.toml"
      - "!justfile"
      - "!packages/*/uv.lock"
      - "!packages/*/pyproject.toml"
  push:
    branches:
      - "main"
      - "beta"
    paths-ignore:
      - "**/*.md"
      - "*"
      - "!flake.nix"
      - "!flake.lock"
      - "!pyproject.toml"
      - "!justfile"
      - "!packages/*/uv.lock"
      - "!packages/*/pyproject.toml"

defaults:
  run:
    shell: bash

permissions:
  contents: read

jobs:
  test-omnix-template:
    runs-on: ubuntu-latest
    concurrency:
      group: test-omnix-template-${{ github.workflow }}-${{ github.event_name == 'pull_request' && github.event.pull_request.number || github.ref_name }}
      cancel-in-progress: true
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # ratchet:actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Nix
        uses: ./.github/actions/setup-nix
        with:
          system: x86_64-linux
          enable-cachix: true
          cachix-name: ${{ vars.CACHIX_CACHE_NAME }}
          cachix-auth-token: ${{ secrets.CACHIX_AUTH_TOKEN }}
          extra-pull-names: nix-community,pyproject-nix,sciexp,srid

      - name: Setup tmate debug session
        uses: mxschmitt/action-tmate@e5c7151931ca95bad1c6f4190c730ecf8c7dde48 # ratchet:mxschmitt/action-tmate@v3
        if: ${{ inputs.debug_enabled == true }}

      - name: Install omnix
        run: nix --accept-flake-config profile install "github:juspay/omnix"

      - name: Test monorepo template initialization
        run: |
          REPO_REF="github:sciexp/python-nix-template/${{ github.event.pull_request.head.sha || github.sha }}"
          echo "Using repository reference: $REPO_REF"

          pwd
          rm -fr pnt-mono

          nix --accept-flake-config run github:juspay/omnix/v1.3.0 -- init "$REPO_REF" -o pnt-mono --non-interactive --params '{
            "package-name-kebab-case": "pnt-mono",
            "package-name-snake-case": "pnt_mono",
            "monorepo-package": true,
            "git-org": "pnt-mono",
            "author": "Pnt Mono",
            "author-email": "mono@pnt.org",
            "project-description": "Test monorepo template project",
            "vscode": true,
            "github-ci": true,
            "docs": true,
            "nix-template": true
          }'

          cd pnt-mono
          git init
          git config --local user.email "test@example.com"
          git config --local user.name "Test User"
          git commit --allow-empty -m "initial commit (empty)"

          nix run github:NixOS/nixpkgs/nixos-unstable#uv -- lock
          git add .

          nix develop --accept-flake-config -c pytest

      - name: Test single-package template initialization
        run: |
          REPO_REF="github:sciexp/python-nix-template/${{ github.event.pull_request.head.sha || github.sha }}"
          echo "Using repository reference: $REPO_REF"

          pwd
          rm -fr pnt-new

          nix --accept-flake-config run github:juspay/omnix/v1.3.0 -- init "$REPO_REF" -o pnt-new --non-interactive --params '{
            "package-name-kebab-case": "pnt-new",
            "package-name-snake-case": "pnt_new",
            "monorepo-package": false,
            "git-org": "pnt-new",
            "author": "Pnt New",
            "author-email": "new@pnt.org",
            "project-description": "Test single-package template project",
            "vscode": true,
            "github-ci": true,
            "docs": false,
            "nix-template": false
          }'

          cd pnt-new
          git init
          git config --local user.email "test@example.com"
          git config --local user.name "Test User"
          git commit --allow-empty -m "initial commit (empty)"

          nix run github:NixOS/nixpkgs/nixos-unstable#uv -- lock
          git add .

          nix develop --accept-flake-config -c pytest
